/* Set as the default backgound or font of code written in body*/
body {
	margin: 0;
	padding: 0;
	text-align: left;
	font: 12px Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #061C37;
	background: #fdd5de ;
}

*
  {
  margin: 0 auto 0 auto;
  text-align:middle;}

/*This is used to keep the menu bar aligned to the center, even when using a different size screen*/
#container {
  display: block; 
  height:auto;
  position: relative; 
  width: 1540px;
}

/*This is used to select the background image for the top banner*/
#mainpic {
   background-image:url(images/bus.JPG);
   width:1540px;
   height:180px;
}

/*This is used to select the background image for menu listings*/
#menu {
   background-image:url(images/menu.png);
   width:1540px;
   height:48.5px;
   float:left;
   clear:both;
}

/*This is used to aligning the text in the menu*/
#menu ul {
	list-style: none;
	padding: 60pxpx;
	margin-left:350px;
	width:900px;	
}

/*This is used to select font of the menu and making it together in a straight line*/
#menu a {
	float: left;
	width: 150px;
	height: 40px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
	padding-top: 17px;
	font-size: 15px;
}

/*This is used for the properties of the center blank box where all the content of the page can be seen*/
#content {
   width:1400px;
   height:auto;
   background-color: white;
   padding-left:10px;
   padding-right:10px;
   padding-bottom:5px;
}

/*This is used to select the fonts for all the 'p' wordings in content*/
#content p1{
   color: black;
   font: 23px Arial, Helvetica, sans-serif;
   text-align: left;
}

/*This is used for the font, font size, font color of the table data*/
#content td{
   color: black;
   width:250px;
   font: 23px "comic sans ms";
   text-align: center;
}

/*This is to split the Home page into 2 columns*/
#home-column {
  float: left;
  width: 70%;
}


#home-columnRight{
	float: right;
	width: 30%;
  height: 100%;
}

/* Clear floats after the columns */
#home-row:after {
  content: "";
  display: table;
  clear: both;
}

#home-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

/*Creates a container*/
#home-container {
  padding: 0 16px;
}

/*Clear floats after the container*/
#home-container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

/*This is to selecting the font, font size, font color and text shadow of the title of the bus ticket page*/
#busTicketTitle{
	font-size: 40px;
	color:darkblue;5
	font-family: sans-serif;
	text-shadow: 0px 5px 12px gray;
    text-align: center;
}

/*This is the properties of the box and the contents in the box for each state in bus ticket*/
#busTicketBox {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  font-size: 10px;
}

/* This is to select font colour and size for the availability in the bus ticket*/
#busTicketAvailability {
  color: grey;
  font-size: 15px;
}

/*This is to selecting the font, font size, font color and text shadow of the title of the state in all bus ticket state page*/
#stateTitle {
   font-size: 40px;
   color:darkblue;5
   font-family: sans-serif;
   text-shadow: 0px 5px 12px gray;
   text-align: center; 
}

/*This is used for the font, font size, font color of the table data of stateTable*/
#stateTable td{
   color: black;
   width:250px;
   font:40px "arial black";
   text-align: center;
}

/* This is view button at the bottom of the table of stateTable*/
#stateTable button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: darkblue;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 20px;
}

/*This is to split the About Us page into 2 columns*/
#aboutus-column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
#aboutus-row:after {
  content: "";
  display: table;
  clear: both;
}

#aboutus-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

/*Creates a container*/
#aboutus-container {
  padding: 0 16px;
}

/*Clear floats after the container*/
#aboutus-container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

/* Container 2 with different background image*/
#content2 {
   width:1400px;
   height:auto;
   background-image: url(images/tourist.jpg);
   padding-left:10px;
   padding-right:10px;
   padding-bottom:5px;
}

/*This is used to align the text box to the center and cahnge the properties of text box*/
#input-box{
    border-radius: 20px;
    padding:10px;
    margin: 10px 0 ;
    width:100%;
    border: 1px solid #999;
    outline: none;
}

/*This is the sign in box with the same image with sign up form but diffrent resolution*/
#sign-in-form{
width:300px;
background-color: white;
padding:100px;
margin:0% auto 0;
text-align: center;
}

/*This is for selecting the background colour and the size of the font wirtten in the box*/
#sign-in-form h1{
    color:#EC7063;
    margin-bottom:50px;
    font-size: 30px;
    text-align:center;
}

/*This is the sign up box with the same image with sign in form but diffrent resolution*/
#sign-up-form{
width:300px;
background-color: white;
padding:100px;
margin:0% auto 0;
text-align: center;
}

/*This is for selecting the background colour and the size of the font wirtten in the box*/
#sign-up-form h1{
    color:#EC7063;
    margin-bottom:50px;
    font-size: 40px;
    text-align:center;
}

button{
    background-color: #1c8adb;
    color: white;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}

/*Footer */
#footer {
    width: 1400px;
    height: 33px;
    padding: 20px 0 4px 0;
    text-align: center;
    background: #555;
    color: #AAA;
    border-top: 1px solid #FFF;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-size: 100%;
}

#error {
    color: red;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}

#success {
    color: green;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}

#tickettable table{
 left: 50%;
 top: 50%;
 width: 95%; 
 border-collapse: collapse;
 border-spacing: 0;
 box-shadow: 0 2px 15px rgba(64,64,64,.7);
 border-radius: 12px 12px 0 0;
 overflow: hidden;

}
#tickettable td , th{
 padding: 15px 20px;
 text-align: center;

}
#tickettable th{
 background-color: mediumpurple;
 color: #fafafa;
 font-family: 'Open Sans',Sans-serif;
 font-weight: 200;
 text-transform: uppercase;
}
#tickettable tr{
 width: 100%;
 background-color: #fafafa;
 font-family: 'Montserrat', sans-serif;
}
#tickettable tr:nth-child(even){
 background-color: #eeeeee;
}

#tickettable p{
 font-size: 20px;
 text-align: center;
}

#tickettable p1{
 color: red;
 font-weight: bold;
 font-size: 17px;
 text-align: center;
}

.table-bar{
  text align:center;
  font-size: 12.2px;
  display:inline-flex;
  list-style: none;
  width:100%;
  color:black;
}

#input-DestinationMainBox 
{ 
    border-radius: 20px;
    padding:10px;
    margin: 10px 0 ;
    width:100%;
    border: 1px solid #999;
    outline: none;
    background-color: white;
}

#input-DestinationBox
{
    border-radius: 20px;
    padding:10px;
    margin-top:10px ;
    margin-left:5px ;
    width: 12.5%;
    border: 1px solid #999;
    outline: none;
    background-color: white;

}

#input-DestinationSubBox 
{ 
    border-radius: 20px;
    padding:10px;
    margin: 10px 0;
    width:100%;
    border: 1px solid #999;
    outline: none;
    background-color: white;

}

#input-DestinationsSubSubBox
{
    border-radius: 20px;
    padding:10px;
    margin: 10px 0;
    width:100%;
    border: 1px solid #999;
    outline: none;
    background-color: white;


}

#input-DestinationsSubBoxBox
{
    border-radius: 20px;
    padding:10px;
    margin-top: -30px ;
    margin-left: 105px;
    width:90%;
    border: 1px solid #999;
    outline: none;
    background-color: white;
    color:black;

}



.table-bar li a
{
  display:inline-flex;
  list-style: none;
  text-decoration:none;
  color:black;

}

.sub-menu1
{
  display: none;
  list-style: none;
}

.table-bar li:hover .sub-menu1
{
  display: block;
  position: absolute;
  margin-top: 2px;
  margin-right: 60px;
  color:black;
}

.table-bar li:hover .sub-menu1 ul 
{
  display:block;
  margin-right: 60px;

}

.table-bar li:hover .sub-menu1 ul li
{
  list-style: none;
}

.sub-menu2
{
  display: none;
}

.hover-me:hover .sub-menu2
{
  position:absolute;
  display: block;
  margin-left: 20px;
  margin-top: 1px;
  background-color: white;
}


#thankyou {
   font-size: 40px;
   color:maroon;5
   font-family: sans-serif;
   text-shadow: 0px 5px 12px gray;
   text-align: center; 
}

#action{
width:300px;
background-color: papayawhip;
padding:100px;
margin:0% auto 0;
text-align: center;
}

#pageTitle {
   font-size: 40px;
   color:darkblue;5
   font-family: sans-serif;
   text-shadow: 0px 5px 12px gray;
   text-align: center; 
}

