body {
	margin: 0;
	padding: 0;
	text-align: left;
	font: 12px Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #061C37;
	background: #fdd5de ;
}

*
  {
  margin: 0 auto 0 auto;
  text-align:middle;}

#container {
  display: block; 
  height:auto;
  position: relative; 
  width: 1540px;
}

#mainpic {
   background-image:url(images/bus.JPG);
   width:1540px;
   height:180px;
}

#menu {
   background-image:url(images/menu.png);
   width:1540px;
   height:48.5px;
   float:left;
   clear:both;
}

#menu ul {
	list-style: none;
	padding: 60pxpx;
	margin-left:350px;
	width:900px;
	
}

#menu a {
	float: left;
	width: 150px;
	height: 40px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
	padding-top: 17px;
	font-size: 15px;
}

#content {
   width:1400px;
   height:auto;
   background-color: white;
   padding-left:10px;
   padding-right:10px;
   padding-bottom:5px;
}

#content p1{
   color: black;
   font: 23px Arial, Helvetica, sans-serif;
   text-align: left;
}

#content td{
   color: black;
   width:250px;
   font: 23px "comic sans ms";
   text-align: center;
}

#content2 {
   width:1400px;
   height:auto;
   background-image: url(images/tourist.jpg);
   padding-left:10px;
   padding-right:10px;
   padding-bottom:5px;
}

#input-box{
    padding:10px;
    margin: 10px 0 ;
    width:100%;
    border: 1px solid #999;
    outline: none;
}

#sign-in-form{
width:300px;
background-color: white;
padding:100px;
margin:0% auto 0;
text-align:center
}

#sign-in-form h1{
    color:#1c8adb;
    margin-bottom:50px;
    font-size: 40px;
}

#sign-up-form{
width:300px;
height:440px;
background-color: white;
padding:100px;
margin:0% auto 0;
text-align:center
}

#sign-up-form h1{
    color:#1c8adb;
    margin-bottom:50px;
    font-size: 40px;
}